.tile {
    border: 1px solid #ddd;
    padding: 1.5em;
    text-align: center;
    margin-bottom: 1em;
<<<<<<< HEAD
    display: block;
=======
>>>>>>> 6bc82687b7ef45c74a29acdc08ff3cb78a92c47a
}

.tile img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto auto 1em;
}
